# 1. 파이썬의 컴퓨팅 라이브러리, numpy
**numpy를 이용해서 데이터를 다뤄봅시다!**

### Our Goal
1. Numpy 시작하기
    - prerequisite : Python의 List
    - numpy import하기
    - numpy.array

2. Numpy로 연산하기
    - Vector - Scalar : elementwise! (+, -, *, /)
    - Vector - Vector : elementwise / broadcasting (+, -, *, /)
    - Indexing & Slicing
3. Example : Linear Algebra with Numpy
    1. basics
    - 영벡터 : `.zeros()`
    - 일벡터 : `.ones()`
    - 대각행렬 : `.diag()`
    - 항등행렬 : `.eye()`
    - 행렬곱 : `@` / `.dot()`
  
    2. furthermore
    - 트레이스 : `.trace()`
    - 행렬식 : `.linalg.det()`
    - 역행렬 : `.linalg.inv()`
    - 고유값 : `.linalg.eig()`

## I. Numpy 시작하기

## II. Numpy로 연산하기

## III. Numpy로 선형대수 지식 끼얹기

## IV. Exercises

### 1. 어떤 벡터가 주어졌을 때 L2 norm을 구하는 함수 `get_L2_norm()`을 작성하세요

- **매개변수** : 1차원 벡터 (`np.array`)
- **반환값** : 인자로 주어진 벡터의 L2 Norm값 (`number`)

### 2. 어떤 행렬이 singular matrix인지 확인하는 함수 `is_singular()` 를 작성하세요

- 매개변수 : 2차원 벡터(`np.array`)
- 반환값 : 인자로 주어진 벡터가 singular하면 True, non-singular하면 False를 반환

In [15]:
import numpy as np

def is_singular(arr):
    det = np.linalg.det(arr)
    if det == 0:
        return True
    else:
        return False

In [11]:
import pandas as pd

In [12]:
#1차원 데이터 다루기 series

s = pd.Series([1,4,9,16,26])

In [13]:
s

0     1
1     4
2     9
3    16
4    26
dtype: int64

In [14]:
t = pd.Series({'one':1, 'two':2, 'three':3})

In [15]:
t

one      1
two      2
three    3
dtype: int64

In [16]:
t[1]

2

In [20]:
s[s > s.median()]

3    16
4    26
dtype: int64

In [21]:
s[[3,1,4]]

3    16
1     4
4    26
dtype: int64

In [22]:
s.dtype

dtype('int64')

In [23]:
t['one']

1

In [24]:
# Series에 값 추가
t

one      1
two      2
three    3
dtype: int64

In [25]:
t['four'] = 4

In [26]:
t

one      1
two      2
three    3
four     4
dtype: int64

In [27]:
'six' in t

False

In [28]:
'one' in t

True

In [29]:
t.get('five')

In [32]:
t.get('five', 0)

0

In [33]:
t

one      1
two      2
three    3
four     4
dtype: int64

In [35]:
import numpy as np
s = pd.Series(np.random.randn(5), name="random_nums")